@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

* {
  margin: 0;
  padding: 0;

}

body {
  scroll-behavior: smooth;
  color: white;
  font-family: "Secular One", sans-serif;
}

.fullContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.topSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 180px;
  margin-top: 30px;
}

.leftSection img {
  height: 32rem;
  padding-left: 42px;
}

.rightSection {
  padding-right: 60px;
}

.rightSection h1 {
  background: #1877F2;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 38px;
  font-weight: 500;
  padding-bottom: 15px;
}

.rightSection p {
  color: rgb(75, 85, 99);
  font-weight: 400;
  font-size: 18px;
}


.card {
  background-color: #d0e5eba8;
  width: 240px;
  border-radius: 7px;
  padding: 0px 0 78px 0;
  margin: 10px;
  border: 4px solid #09343e;
}

.card-image img {
  border-radius: 7px;
  width: 240px;
}

.Card-Home-Container{
  margin-bottom: 4rem;
}

.sections {
  background: #e4f0fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card-Home-Section{
  padding: 15px 0;
}

.notes {
  box-shadow: 0 4px 8px rgb(0 0 0 / 37%);
  background: linear-gradient(to right, rgba(106, 17, 203, .9), rgba(37, 117, 252, .9));
  min-width: 12rem;
  text-align: center;
  padding: 10px;
  border-radius: 16px;
  font-size: 30px;

}



.notes a {
  color: white;
  text-decoration: none;
}

.notesContent {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.notesContainer {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  

  .sections {
    flex-direction: column;
  }

  .leftSection img {
    height: 18rem;
    padding-left: 0;
  }

  .topSection {
    flex-direction: column;
    gap: 36px;
  }

  .rightSection {
    text-align: center;
    padding: 0 14px 0px 15px;
  }

  .notes {
    font-size: 24px;
  }
}